<launch>
    <arg name="vins_folder" default = "/home/davidz/work/ros/indigo/src/VINS-Mono_Ext"/>
    <arg name="config_path" default = "$(arg vins_folder)/config/robocane_config_320.yaml" />
    <arg name="vins_path" default = "$(arg vins_folder)/" />
    
   <include file="vins_rviz_ext.launch"/>

    <node name="feature_tracker_ext" pkg="feature_tracker_ext" type="feature_tracker_ext" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="vins_estimator_ext" pkg="vins_estimator_ext" type="vins_estimator_ext" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

</launch>
